:root{
    --back1:#eb4235;
    --back2:#fcbc05;

    --back3:#3e85f4;
    --back4:#32a953;

    --back5:#cc36eb;
    --back6:#9036eb;

    --back7:#eb7e35;
    --back8:#877e35;
    
    --back9:#824235;
    --back10:#2f4446;
    
    --head:#01b58b;
    --back:#f9f9f9;
    --border:#aaa;
    
    --grey1:#292929;
    --grey2:#323232;
    --grey3:#8c8c8c;
}
// :root{
//     --color1:#ff5252;
//     --color2:#ffc454;

//     --color3:#ff754a;
//     --color4:#77754a;
    
//     --color4:#d752ff;
//     --color6:#6652ff;

//     --color4:#0091ff;
//     --color7:#00cf9f;

//     --color8:#ff517e;
//     --color9:#ff9e4a;
// }

