body{font-family: 'Roboto', sans-serif;color:var(--grey1)}
main{width:100%;display: flex;flex-direction: column;overflow: hidden;}
a{text-decoration: none;@extend .trans;}
.icon.fwt{font-weight: 600;}
.btns{width:100%;display: flex;margin-bottom: 20px;flex-wrap:wrap;
    &.center{justify-content: center;}
    [class*="btn-"]{position:relative;display: flex;margin:0 5px 10px;padding: 10px 68px 10px 20px;border-radius:4px;color:white;font-weight:700;overflow: hidden;white-space:nowrap;box-shadow:0 0 3px rgba(0,0,0,0.7);
        &::before{position:absolute;top:0;right:0;width:40px;height:100%;display: flex;justify-content: center;align-items: center;content:"\e004";font-family:fontello;background: white;border-radius:0 4px 4px 0;line-height: 0;font-size:16px;@extend .trans;}
        &::after{width:0;height:0;top:0;bottom:0;right:40px;position:absolute;content:"";border-top:8px solid transparent;border-bottom:8px solid transparent;border-right:8px solid white;margin:auto;@extend .trans;}
        &:hover, &:active, &:focus, &.active{background: var(--grey1);
            &::before{color:white;}
        }
    }
    .btn-1{background:var(--back1);
        &::before{color:var(--back1);}
        &:hover, &:active, &:focus{
            &::before{background: var(--back1);}
            &::after{border-right-color: var(--back1);}
        }
    }
    .btn-2{background:var(--back7);
        &::before{color:var(--back7);}
        &:hover, &:active, &:focus{
            &::before{background: var(--back7);}
            &::after{border-right-color: var(--back7);}
        }
    }
    .btn-3{background:var(--head);
        &::before{color:var(--head);}
        &:hover, &:active, &:focus{
            &::before{background: var(--head);}
            &::after{border-right-color: var(--head);}
        }
    }
    &{
        @media (min-width:576px) and (max-width:767px){
            &{margin-bottom: 10px;
                [class*=btn-]{padding:10px 58px 10px 10px;}
            }    
        }
        @media (max-width:575px){
            &{margin-bottom: 5px;
                [class*=btn-]{padding:9px 48px 9px 10px;
                    &::before{width:30px;}
                    &::after{right:30px;}
                }
            }    
        }
    }
}