*{padding:0;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
body{font-family: Arial, Helvetica, sans-serif;font-size: 14px;}
@mixin transition{transition: 0.3s linear;-webkit-transition: 0.3s linear;-moz-transition: 0.3s linear;}
@mixin fw{width:100%;float:left;}
a{@include transition;text-decoration: none;}

header{width:100%;float:left;padding:0 15px;background:maroon;display: flex;justify-content: center;}
ul.navigation_bar{width:auto;float:left;padding:0;margin:0;}
ul.navigation_bar > li{width:auto;float:left;list-style:none;margin:0 15px;position: relative;}
ul.navigation_bar > li > a{padding:15px 15px;color:#fff;@include fw;font-weight: bold;}
ul.navigation_bar > li:hover > a{background: #000;}
ul.navigation_bar > li > a::after{content:"+";display: inline-block;width:8px;text-align: center;margin-left:5px;}
ul.navigation_bar > li:hover > a::after{content:"-";}
ul.navigation_bar > li > ul{width:150px;@include transition;transform:translate(-50%,0) scaleY(0);-webkit-transform:translate(-50%,0) scaleY(0);-moz-transform:translate(-50%,0) scaleY(0);position: absolute;top:100%;left:50%;transform-origin: top;-webkit-transform-origin: top;-moz-transform-origin: top;}
ul.navigation_bar > li:hover > ul{transform:translate(-50%,0) scaleY(1);-webkit-transform:translate(-50%,0) scaleY(1);-moz-transform:translate(-50%,0) scaleY(1);border:3px solid #ccc;border-bottom: none;}
ul.navigation_bar > li > ul > li{@include fw;list-style: none;}
ul.navigation_bar > li > ul > li > a{@include fw;text-align: center;padding:7px 10px;border-bottom:3px solid #ccc;background:#eee;color:#000;}
ul.navigation_bar > li > ul > li:hover > a{background: brown;color:#fff;}
ul.navigation_bar > li > ul > li > a::after{content:"+";display: inline-block;width:8px;text-align: center;margin-left:5px;}
ul.navigation_bar > li > ul > li:hover > a::after{content:"-";}

ul.navigation_bar > li > ul > li > ul{width:150px;@include transition;transform:scaleX(0);-webkit-transform:scaleX(0);-moz-transform:scaleX(0);position: absolute;left:100%;transform-origin: left;-webkit-transform-origin: left;-moz-transform-origin: left;border:3px solid #ccc;border-bottom: none;margin-top:-3px;}
ul.navigation_bar > li > ul > li:hover > ul{transform:scaleX(1);-webkit-transform:scaleX(1);-moz-transform:scaleX(1);}

ul.navigation_bar > li > ul > li > ul > li{@include fw;list-style: none;}
ul.navigation_bar > li > ul > li > ul > li > a{@include fw;text-align: center;padding:7px 10px;border-bottom:3px solid #ccc;background:#eee;color:#000;}
ul.navigation_bar > li > ul > li > ul > li > a:hover, ul.navigation_bar > li > ul > li > ul > li > a:active, ul.navigation_bar > li > ul > li > ul > li > a:focus{background: brown;color:#fff;}