@import "./searchBar.scss";

header{display: flex;flex-direction: column;z-index: 9;
    .headerTop{background: var(--back3);padding-top:7px;padding-bottom:2px;
        .container{display: flex;justify-content: space-between;flex-direction: row;}
        a{color:white;margin-bottom: 5px;display: flex;align-items: center;
            > *:not(:last-child){margin-right: 3px;}
            .icon{margin-top: -2px;}
            b{font-weight: 600;}
        }
    }
    .headerMiddle{position: relative;
        .container{display: flex;justify-content: space-between;flex-direction: row;align-items: center;
            > *{width:33.33%;}
        }
        .logo{display: flex;background:var(--back2);padding:60px 100px;position:absolute;z-index: 1;top:0;
            img{width:70px;}    
        }
        .followArea{display: flex;justify-content: flex-end;}
        .followUs{display:flex;align-items:center;padding:15px;background:var(--head);
            .head{font-size:18px;font-weight: 800;padding-right: 10px;color:white;}
            .follow{display:flex;flex-direction: column;
                > span{display:flex;
                    &:not(:last-child){margin-bottom:5px;}
                    > a{display:flex;width:30px;height:30px;border-radius:4px;background: white;color:var(--grey1);text-align: center;align-items: center;justify-content: center;
                        &:not(:last-child){margin-right:5px;}
                    }
                }
            }
        }
    }
    .headerBottom{background: var(--back1);
        .container{display: flex;align-items: flex-end;}
        .head{font-weight:800;font-size:24px;margin-bottom: 10px;justify-content: space-between;align-items: center;display:none;
            .icon{cursor: pointer;font-size: 30px;line-height: 1;margin-top:-90px;color:var(--back1);}
        }
        .navBack{display: flex;
            .navArea{display: flex;flex-direction: column;}
        }
        .navBar{display:flex;
            > li{list-style: none;display:flex;align-items:center;border-left:1px solid white;
                &.active, &:hover{background: var(--grey1);}
                a{font-size:16px;padding:10px 20px;display:flex;align-items: center;white-space:nowrap;
                    > .icon{margin-top: -5px;margin-right: 5px;}
                    &:hover, &:active, &:focus{background: var(--grey1);}
                }
                &:last-child{border-right:1px solid white;}
                > a{color:white;height: 100%;}
                &.dropDown{position:relative;
                    > a{display: flex;
                        .icon{transform: rotate(90deg);-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);margin:0;}
                    }
                    > ul{position:absolute;top:100%;right:0;background:var(--back1);width:160px;display:flex;flex-direction:column;padding:0;margin:0;@extend .trans;transform: scaleY(0);-webkit-transform: scaleY(0);-moz-transform: scaleY(0);transform-origin: top;-webkit-transform-origin: top;-moz-transform-origin: top;
                        > li{list-style: none;border-top:1px solid white;display:flex;flex-direction:column;
                            &:nth-child(1), &:nth-child(2), &:nth-child(3){display: none;}
                            > a{color:white;}
                        }
                    }
                    &:hover{
                        > ul{transform: scaleY(1);-webkit-transform: scaleY(1);-moz-transform: scaleY(1);}
                    }
                }
            }
        }
        .searchBarAds{display: flex;margin-top: auto;width:100%;display:none;
            > img{width:100%;}
        }
        .mobileIcons{align-items: center;justify-content:space-between;display:none;padding-top: 7px;
            padding-bottom: 7px;width:100%;padding-left:244px;
            > *{color:white;}
            i.menu{font-weight: 500;font-size:16px;}
            .icon{display:flex;line-height: 1;padding: 5px;
                &.bar{border: 2px solid white;}
            }
            span{display:flex;
                > *:not(:last-child){margin-right:7px;}
            }
        }
    }
    &{
        @media (min-width:992px) and (max-width:1199px){
            &{
                .headerBottom{
                    .navBar{
                        >li{
                            &:nth-last-child(2), &:nth-last-child(3){display: none;}
                            &.dropDown{
                                >ul{
                                    >li{
                                        &:nth-child(2), &:nth-child(3){display: block;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &{
        @media (max-width:991px){
            &{
                .headerMiddle{
                    .followUs{
                        .head{display:none;}
                    }
                }
            }
        }
    }
    &{
        @media (min-width:768px) and (max-width:991px){
            &{
                .headerMiddle{
                    .logo{padding:50px 70px;}
                    .searchBar{width:40%;}
                    .followArea{width:22%;}
                }
                .headerBottom{
                    .navBar{
                        >li{
                            &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4){display: none;}
                            &.dropDown{
                                >ul{
                                    >li{
                                        &:nth-child(1), &:nth-child(2), &:nth-child(3){display: block;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &{
        @media (max-width:767px){
            &{
                .headerTop{
                    a{
                        b{display:none;}
                    }
                }
                .headerMiddle{
                    .container{align-items: flex-start;}
                }
                .headerBottom{
                    .head{display: flex;}
                    .navBack{position: fixed;top: 0;left: -100%;background: rgba(0,0,0,.6);width: 100%;height: 100%;z-index: 9999;display: flex;justify-content:flex-end;@include trans;overflow:hidden;
                        .navArea{width:400px;background: white;height:100%;overflow: auto;@include trans;}
                        &.active{
                            left:0;overflow:visible;
                            .navArea{margin-right: 0;}
                        }
                    }
                    .navBar{flex-direction: column;border-top:1px solid var(--border);margin-bottom: 30px;
                        > li{flex-direction: column;
                            &.active, &:hover{background: none;
                                a{color:var(--back1);}
                            }
                            a{color:var(--grey1);border-bottom:1px solid var(--border);width:100%;padding-left: 0;padding-right: 0;
                                &:hover, &:active, &:focus{color:var(--back1);background: none;}
                            }
                            &.dropDown{
                                > a{display: none;}
                                > ul{transform: scaleY(1);-webkit-transform: scaleY(1);-moz-transform: scaleY(1);position:static;width:100%;background: none;
                                    > li{
                                        > a{color:var(--grey1)}
                                    }
                                }
                            }
                        }
                    }
                    .searchBarAds{display: flex;}
                    .mobileIcons{display:flex;}
                }
            }
        }
    }
    @media (min-width:576px) and (max-width:767px){
        &{
            .headerMiddle{
                .logo{padding:50px 77px;}
                .searchBar{width:40%;}
                .followArea{width:22%;}
            }
            .headerBottom {
                .navBack {
                    .navArea{width: 400px;padding: 60px 30px 0;margin-right: -1200px;}
                    .searchBarAds{
                        > img{width:calc(100% + 60px);margin-left: -30px;max-width: none;}
                    }
                }
            }
        }
    }
    &{
        @media (max-width:575px){
            &{
                .headerTop{
                    a{font-size:13px;}
                }
                .headerMiddle{
                    .logo{padding:30px 40px;}
                    .followUs{padding:10px;
                        .follow{
                            span{
                                a{width:25px;height:25px;font-size: 12px;}
                            }
                        }
                    }
                }
                .headerBottom{
                    .navBack {
                        .navArea{width:290px;padding:60px 10px 0;margin-right: -600px;}
                        .searchBarAds{
                            > img{width:calc(100% + 20px);margin-left: -10px;max-width: none;}
                        }
                    }
                    .mobileIcons{
                        padding-left: 159px;
                    }
                }
            }
        }
    }
}

