.lifeStyle{
    .figure{width:100%;display: flex;flex-direction: column;position: relative;height:100%;
        img{width:100%;height: 100%;object-fit: cover;}
        figcaption{color:white;font-weight: bold;font-size: 20px;padding: 10px 15px;width: 100%;background: var(--grey1);display: flex;justify-content: space-between;align-items: center;
            > span{display: block;font-size:16px;}
        }
    }
    &{
        @media (min-width:768px) and (max-width:991px){
            .figure{
                figcaption{font-size:18px;flex-direction: column;align-items: flex-start;}
            }
        }
        @media (min-width:576px) and (max-width:767px){
            [class*="col-"]{margin-bottom: 20px;}
            .figure{
                figcaption{font-size:18px;}
            }
        }
        @media (max-width:575px){
            .figure{
                figcaption{font-size:14px;padding:7px 10px;flex-direction: column;align-items: flex-start;line-height: 1.1;
                    > span{font-size: 12px;}
                }
                img{min-height: 180px;}
                &.one{
                    img{height: auto;}
                }
            }
        }
    }
}