.searchBar{display:flex;
    .searchBack{width:100%;display:flex;flex-direction:column;}
    .head{font-weight:800;font-size:24px;margin-bottom: 10px;justify-content: space-between;align-items: center;display:none;
        .icon{cursor: pointer;font-size: 30px;line-height: 1;margin-top:-90px;color:var(--back1);}
    }
    .inputTabs{width:100%;display:flex;flex-direction:column;position:relative;}
    .search_bar{display: flex;position:relative;
        input{width:100%;border:1px solid var(--border);outline:none;padding-left:12px;border-radius:4px;height:48px;}
        .rml{width:47px;height:100%;display:flex;align-items: center;justify-content: center;background:var(--grey1);color:white;border-radius:0 4px 4px 0;cursor: pointer;position:absolute;top:0;right:0;line-height:0;
            &.timesIcon{display: none;}
        }
    }
    .dropdown{width:100%;display:none;flex-direction:column;padding:0;margin:-1px 0 25px;background:var(--back);position: absolute;top: 100%;border:1px solid var(--border);border-bottom:none;border-radius:0 0 4px 4px;max-height: 165px;overflow-y: auto;
        > li{list-style: none;border-bottom:1px solid var(--border);margin-top:-1px;display:flex;
            > a{padding:10px 10px 10px 32px;color:var(--grey1);cursor: pointer;position:relative;
                &::before{width:0;height:0;content:"\e004";position:absolute;top:9px;left:10px;font-family: fontello;color:var(--back1);}
            }
        }
    }
    .searchBarAds{display: flex;margin-top: auto;width:100%;display:none;
        > img{width:100%;}
    }
    @media (min-width:992px) and (max-width:1199px){
        &{
            width:400px;
        }
    }
    @media (min-width:768px) and (max-width:991px){
        &{
            width:300px;
        }
    }
    @media (max-width:767px){
        &{
            position:fixed;top:0;left:-100%;background: rgba(0,0,0,0.6);width:100% !important;height:100%;z-index: 9999;display:flex;justify-content: flex-end;@include trans;overflow:hidden;
            .searchBack{background:white;@include trans;overflow: auto;}
            .head{display:flex;}
            .dropdown{display:flex !important;overflow:visible;max-height: none;flex-direction:row;flex-wrap:wrap;margin-top:15px;border:none;background:none;opacity: 1 !important;position:static;
                > li{margin-top: 0;margin-right:5px;margin-bottom:5px;border:none;
                    > a{padding:6px 10px;border:1px solid var(--border);border-radius:4px;
                        &::before{display: none;}
                    }
                }
            }
            &.active{
                left:0;overflow:visible;
                .searchBack{margin-right: 0;}
            }
            .searchBarAds{display: flex;}
        }
    }
    @media (min-width:576px) and (max-width:767px){
        &{
            .searchBack{width:400px;padding:60px 30px 0;margin-right: -1200px;}
            .searchBarAds{
                > img{width:calc(100% + 60px);margin-left: -30px;max-width: none;}
            }
        }
    }
    @media (max-width:575px){
        &{
            .searchBack{width:290px;padding:60px 10px 0;margin-right: -600px;}
            .searchBarAds{
                > img{width:calc(100% + 20px);margin-left: -10px;max-width: none;}
            }
        }
    }
}