main{
    > ul{margin:0;padding:0 15%;
        > li{width:33.33%;float:left;list-style: none;height:300px;
            > img{@include fw;}
            &:nth-child(odd){background: #f1f1f1;}
            &:nth-child(even){background: #f3f3f3;}
            &.active{background: #ddd;animation:0.3s linear zoom;}
        }
    }
    .lazy{@include fw;height: 300px;}
}
@keyframes zoom{
    0%{transform: scale(1);}
    50%{transform: scale(0.95);}
    100%{transform: scale(1);}
}