@charset "utf-8";

*{padding:0;margin:0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}

.main{width:100%;float:left;overflow: hidden;padding-top:50px;}
.main .sliders{width:100%;float:left;}
.main .sliders .accordion_area{width:100%;float:left;}
.main .sliders .accordion_area .accordion_tabs{width:100%;float:left;margin-bottom: 20px;text-align: center;}
.main .sliders .accordion_area .accordion_tabs > a{display: inline-block;background: #666;color:#fff;padding:7px 15px;font-weight: bold;margin:0 5px 10px;cursor: pointer;}
.main .sliders .accordion_area .accordion_tabs > a.active, .main .sliders .accordion_area .accordion_tabs > a:hover, .main .sliders .accordion_area .accordion_tabs > a:active, .main .sliders .accordion_area .accordion_tabs > a:focus{text-decoration:none;background: blue;}


.main .sliders .accordion_area .accordion_tabs_open{width:100%;float:left;margin-bottom: 30px;}
.main .sliders .accordion_area .accordion_tabs_open .accordion_tabs_open_area{width:100%;float:left;height: 0;visibility: hidden;}
.main .sliders .accordion_area .accordion_tabs_open .accordion_tabs_open_area.active{height: auto;visibility: visible;}