*{padding:0;margin:0;box-sizing: border-box;}
section.section{width:100%;height:500px;background-color: #ccc;margin-bottom: 30px;}
ul{position:fixed;top:0;left:0;width:100%;background: #333;}
ul > li{list-style-type: none;}
ul > li > a{color:#fff;text-decoration: none;}
ul > li.is-current > a{color:red;}
