mixin comment(commentData)
    .comment 
        if commentData.postedByAdmin
            em (Posted by Admin)
        .date= commentData.date
        .author= commentData.author
        .text= commentData.text
doctype html
html
    head 
        style(type="text/css").
            .comment{color:red;border:1px solid black;}
            .date{font-weight:bold;color:black;}
    body 
        //- .comment 
        //-     .date 18-9-2023
        //-     .author dcode
        //-     .text Hey mate! Nice tutorials.

        - const c = {postedByAdmin: true, date: "15-9-2023", author: "dcode", text: "Hey mate! Nice tutorials."}
        +comment(c)

        - const c1 = {date: "15-10-2023", author: "Bruce", text: "That was funny!"}
        +comment(c1)
