@font-face {
    font-family: black;src: url(../fonts/font-family/Roboto-Black.ttf);
}
@font-face {
    font-family: bold;src: url(../fonts/font-family/Roboto-Bold.ttf);
}
@font-face {
    font-family: medium;src: url(../fonts/font-family/Roboto-Medium.ttf);
}
@font-face {
    font-family: normal;src: url(../fonts/font-family/Roboto-Regular.ttf);
}
