/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100%;
	color: #555;
}

.content{
	max-width: 1000px;
	margin: 30px auto;
	padding: 20px;
}

.book{
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-column-gap: 30px;
	margin-bottom: 10px;
	border: thin solid #d4d4d4;
	padding: 15px;
	background-color: #f9f9f9;
}

.book img{
	width:  100%;
}

.book .title{
	font-size: 22px;
	font-weight: bold;
}
.book .about{
	font-size: 20px;
	margin-top: 7px;
}
.book .info{
	margin-top: 20px;
}

.load-more-button{
	display: block;
	width: 60px;
	height: 60px;
	font-size: 16px;
	margin: 50px auto;
	border: thin solid #e4e4e4;
	border-radius: 50%;
	line-height: 60px;
	cursor: pointer;
	transition: box-shadow .2s;
	background-color: #fff;
}
.load-more-button span{
	display: block;
	transform: rotate(90deg);
	font-size: 22px;
	color: #999;
}
.load-more-button:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.load-more-button:active{
	background-color: #555;
	box-shadow: none;
}