
.icon-phone:before { content: '\e001'; } /* '' */
.icon-mail-alt:before { content: '\e002'; } /* '' */
.icon-menu:before { content: '\e003'; } /* '' */
.icon-right:before { content: '\e004'; } /* '' */
.icon-left:before { content: '\e005'; } /* '' */
.icon-flag-filled:before { content: '\e006'; } /* '' */
.icon-bookmark:before { content: '\e007'; } /* '' */
.icon-picture:before { content: '\e008'; } /* '' */
.icon-bank:before { content: '\e009'; } /* '' */
.icon-binoculars:before { content: '\e010'; } /* '' */
.icon-subway:before { content: '\e011'; } /* '' */
.icon-cab:before { content: '\e012'; } /* '' */
.icon-motorcycle:before { content: '\e013'; } /* '' */
.icon-coffee:before { content: '\e014'; } /* '' */
.icon-user:before { content: '\e015'; } /* '' */
.icon-child:before { content: '\e016'; } /* '' */
.icon-headphones:before { content: '\e017'; } /* '' */
.icon-youtube-play:before { content: '\e018'; } /* '' */
.icon-gamepad:before { content: '\e019'; } /* '' */
.icon-food:before { content: '\e020'; } /* '' */
.icon-facebook:before { content: '\e021'; } /* '' */
.icon-twitter:before { content: '\e022'; } /* '' */
.icon-linkedin:before { content: '\e023'; } /* '' */
.icon-instagram:before { content: '\e024'; } /* '' */
.icon-whatsapp:before { content: '\e025'; } /* '' */
.icon-skype:before { content: '\e026'; } /* '' */
.icon-map-signs:before { content: '\e027'; } /* '' */
.icon-eye:before { content: '\e028'; } /* '' */
.icon-eye-off:before { content: '\e029'; } /* '' */
.icon-search:before { content: '\e030'; } /* '' */
.icon-clock:before { content: '\e031'; } /* '' */
.icon-star:before { content: '\e032'; } /* '' */
.icon-star-empty:before { content: '\e033'; } /* '' */
.icon-left-open:before { content: '\e034'; } /* '' */
.icon-right-open:before { content: '\e035'; } /* '' */
.icon-globe:before { content: '\e036'; } /* '' */
.icon-spin3:before { content: '\e037'; } /* '' */
.icon-ok:before { content: '\e038'; } /* '' */
.icon-cancel:before { content: '\e039'; } /* '' */
.icon-th-list:before { content: '\e040'; } /* '' */
.icon-dot-3:before { content: '\e041'; } /* '' */
.icon-home:before { content: '\e042'; } /* '' */
.icon-desktop-1:before { content: '\e043'; } /* '' */
.icon-website:before { content: '\e044'; } /* '' */
.icon-glass:before { content: '\e045'; } /* '' */
.icon-glasses:before { content: '\e046'; } /* '' */
.icon-group:before { content: '\e047'; } /* '' */
.icon-comment:before { content: '\e048'; } /* '' */
.icon-tag:before { content: '\e049'; } /* '' */
.icon-help-circled:before { content: '\e050'; } /* '' */
.icon-calendar-inv:before { content: '\e051'; } /* '' */
.icon-heart:before { content: '\e052'; } /* '' */
.icon-align-justify:before { content: '\e053'; } /* '' */
.icon-file-code:before { content: '\e054'; } /* '' */
.icon-up:before { content: '\e055'; } /* '' */
.icon-mobile:before { content: '\e056'; } /* '' */
.icon-fort-awesome:before { content: '\e057'; } /* '' */
.icon-basket:before { content: '\e058'; } /* '' */
.icon-quote-left:before { content: '\e059'; } /* '' */
.icon-quote-right:before { content: '\e060'; } /* '' */
.icon-code:before { content: '\e061'; } /* '' */
.icon-laptop:before { content: '\e062'; } /* '' */
